<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="${basedir}/logs/nlog.log"
      internalLogToConsole="true"> -->

  <targets>

    <!-- layout="${longdate}|${level:uppercase=true}|[${threadid}:${threadname}].${callsite:className=True:methodName=True}:${message}${onexception:${newline}${exception:format=tostring}}" /> -->

    <target name="logfile"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            encoding="UTF-8"
		        layout="${longdate}|${level:uppercase=true}| ${message}${onexception:${newline}${exception:format=tostring}} |${logger}" />

    <target name="specialfile"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}_summary.log"
            encoding="UTF-8"
            layout="${longdate}| ${message}" />

    <target name="findfile"
            xsi:type="File"
            fileName="${basedir}/logs/_find_${shortdate}.log"
            encoding="UTF-8"
            layout="${longdate}| ${message}" />

    <target name="errortofile"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}_errors.log"
            encoding="UTF-8"
            layout="${longdate}|${level:uppercase=true}|[${threadid}:${threadname}].${callsite:className=True:methodName=True}:${message}${onexception:${newline}${exception:format=tostring}}"	/>

    <target name="logconsole"
            encoding="UTF-8"
            xsi:type="ColoredConsole"
            layout="${longdate}|${level:uppercase=true}| ${message}${onexception:${newline}${exception:format=tostring}} |${logger}" />

  </targets>

  <rules>
    <logger name="SpecialLogger" writeTo="specialfile" final="true"/>
    <logger name="FindLogger" writeTo="findfile" final="true"/>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="errortofile" />
  </rules>
</nlog>